<div class="space-90"></div>
<div style="min-height: fit-content;">

  <div id="side-bar">
    <%= render "side_bar" %>
  </div>

  <div id="main-content">
    <h1>New Candidate Update</h1>

    <%= render 'form', recruiter_update: @recruiter_update, user: current_user %>

    <%= link_to 'Back', user_recruiter_updates_path %>
  </div>
</div>
