<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CardinalHire</h1>
    <p>
      You have successfully signed up to receive personalized job search results, announcements, and more from me, your personal CardinalHire account manager. All of us look forward to helping you find the best path forward for your career goals.
    </p>
    <p>
      To update your CardinalHire account preferences at any time, visit our site: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
