
<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    <%= render "side_bar" %>
  </div>
</nav>

<article>
  <div id="main-content">
    <h1>Editing Message</h1>

    <%= render 'form', message: @message %>

    <%= link_to 'Show', @message %> |
    <%= link_to 'Back', messages_path %>
  </div>
</article>
