<div class="row" style="padding-top: 1em;">
  <div class="col-12 col-sm-12 col-md-12 col-centered" style="flex-direction: column; justify-content: center; align-items: center; align-content: center;">
      <h4 class="text-center" style="align-self: center;">Alex Jones</h4>
      <div class="text-center" style="align-self: center;"><%= image_tag('alex-jones.jpeg', alt: 'Alex Jones', class: '', width: '100rem', height: '100rem', style: 'border-radius: 50%;') %></div>
      <div class="separator">
        <span class="outer-line"></span>
        <i class="fa fa-fw fa-vcard" aria-hidden="true" style="margin: 10px 0"></i>
        <span class="outer-line"></span>
      </div>
      <h5 class="text-center" style="flex-direction: column; justify-content: center; align-items: center; align-content: center;">Your Account Manager</h5>
      <h6 class="text-center" style="flex-direction: column; justify-content: center; align-items: center; align-content: center; text-transform: lowercase;"><%= mail_to "alex@cardinalhire.com" %></h6>
  </div>
</div>
