<div class="space-90"></div>
  <nav>
    <div id="advanced-search-menu">
      <%= render 'side_bar' %>
    </div>
  </nav>
  <article>
    <div id="show-my-people">
      <%= render 'show_my_people' %>
    </div>

    <br>

    <%= link_to 'New Person', new_person_path %>
  </article>
<div class="space-10"></div>
