<div class="space-90"></div>
<div style="min-height: fit-content;">
  <div id="side-bar">
    <%= render "side_bar" %>
  </div>
  <div id="main-content">
    <%= render "people/form" %>
  </div>
</div>
<div class="space-90"></div>
