<article>
  <section id="home" class="dzsparallaxer auto-init use-loading" style="position: relative; height: 400px;" data-options="{  mode_scroll: 'normal' }">
    <div class="divimage dzsparallaxer--target " data-src="<%= image_url('bg4.jpg') %>" style="width: 100%; height: 100%; background-image: url('<%= image_url('bg4.jpg') %>'); background-size: cover;">
        <div class="hero-parallax">
            <div class="hero-inner">
                <div class="hero-content">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="hero-static">
                                    <h1>CAREERS</h1>
                                    <p class="lead">
                                        CardinalHire is where top tech talent meets top tech companies.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!--container-->
                </div><!--hero content-->
            </div><!--hero inner-->

        </div><!--parallax hero-->
    </div><!--parallax image div-->
</section>
<!--intro section end-->
<div id="careers-list">
  <div class="row">
    <div class="col align-self-center">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://cardinalhire.crelate.com/portal?iframe=true"></iframe>
      </div>
    </div>
  </div>
</div>
</article>
