<section id="home" class="dzsparallaxer auto-init use-loading" style="position: relative; height: 400px;" data-options="{  mode_scroll: 'normal' }">
    <div class="divimage dzsparallaxer--target " data-src="<%= image_url('bg4.jpg') %>" style="width: 100%; height: 100%; background-image: url('<%= image_url('bg4.jpg') %>'); background-size: cover;">
        <div class="hero-parallax">
            <div class="hero-inner">
                <div class="hero-content">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="hero-static">
                                    <p class="lead">
                                        CardinalHire is where top tech talent meets top tech companies.
                                    </p>
                                    <div class="buttons">
                                      <%= link_to "Learn More", welcome_about_path, class: "btn btn-xl btn-white-border" %>
                                      <%= link_to "See Careers", welcome_careers_path(@careers, anchor: "careers-list"), class: "btn btn-xl btn-primary" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--container-->
                </div><!--hero content-->
            </div><!--hero inner-->

        </div><!--parallax hero-->
    </div><!--parallax image div-->
</section>
<!--intro section end-->
<div class="space-90"></div>

<div class="" style="margin: 1rem; padding: 1rem;">
    <div class='row'>
    <h1>General Terms of Service for CardinalHire</h1>
    <p><small>Date of last revision: January 23, 2018</small></p>
    <h3>General Terms of Service Introduction</h3>
<p>The TOS govern the relationship of CardinalHire, Inc., a California corporation; also referred to as "CardinalHire," and, inclusive with our affiliates, "we," "us," "our," and similar pronouns) with users and others who interact with the CardinalHire website ("CardinalHire.com," or the "Site") and related services. The "TOS" consist of the following General Terms of Service, all Additional Terms of Service applicable to participation in the respective offerings and service segments, all related agreements you may enter into with us, and the various policies, rules, procedures, notices, and other terms stated elsewhere on the Site.</p>
<p>Certain areas of the Site, including an applicable Additional Terms of Service, which may include a related agreement not posted on the Site, may have additional or different terms and conditions. If and to the extent there is a conflict between these General Terms of Service and what is posted in another area of the Site or is stated in a related agreement, the latter terms and conditions will take precedence as to the specific subject matter and your use of that area of the Site or rights and obligations under that related agreement.</p>
<p>By using or accessing our Site, you agree to comply with and be legally bound by the TOS, whether or not you become a registered user of our services. Please review the TOS carefully. If you do not agree to the TOS, you have no right to obtain information from or otherwise use our Site. We reserve the right to modify the TOS at any time, effective upon posting an updated version of any or all of the TOS on our Site. We may also provide email notification to you at the email address then connected with your profile. You are responsible for regularly reviewing the TOS. By using our Site, you agree that the posting of new or revised terms and conditions on the Site will constitute adequate and constructive notice to you of any revisions and changes. Continued use of the Site after any such changes or after explicitly accepting the new terms upon logging into the Site will constitute your consent to such changes.</p>
<p>An index to the meanings of certain defined terms and words is in Section 13 [Definitions and Usage] of these General Terms and Conditions.</p>
<h3>1 Privacy</h3>
<p>Please visit our Privacy Policy, which discloses both how you can use the Site to provide, review, and respond to posted information and Content (defined below), and how we collect and can use information and Content.</p>
<h3>2 Ownership and Control of Information and Content</h3>
<p>2.1 You own your information and are responsible for Content you post.</p>
<p>2.2 The functionality and operation of the Site requires your authorization and certain licenses. When you submit information, including any audio, video, photograph, picture, image, symbols, text, or any other materials (collectively, "Content") to post on or in connection with our Site, you concurrently grant us a perpetual, nonexclusive, transferable, sub-licensable, royalty-free, worldwide license to use such Content in connection with the Site ("License") until you delete your Content or terminate your account with us. The License includes all intellectual property ("IP") rights necessary for such use.</p>
<p>2.3 You are solely responsible for all Content that you submit, post, or transmit via the Site. You represent and warrant that you have the right to publish, share, and use the Content you post without violation of copyright, trademark, or any other IP law or other applicable law. You further represent and warrant that you have sufficient IP ownership or IP rights, licenses, consents, and releases to grant the License.</p>
<p>2.4 A posting agent, i.e., a third-party intermediary that posts information to an Internet website on behalf of others, is prohibited from use of the Site.</p>
<p>2.5 You may be exposed to information from other users or third parties at our Site or through links to third-party Internet websites. User profiles, job descriptions, and other information is created by users and other persons over whom CardinalHire has no control. We will have no liability for information of other users or third parties, including any material that may be unlawful, misleading, incomplete, erroneous, offensive, indecent, or otherwise objectionable. Links to third-party Internet websites and resources are not endorsements by CardinalHire. The author/poster of the information and the viewer bear all such risks. Accordingly, we encourage you to evaluate the veracity of all such information and the risk of such exposure.</p>
<p>2.6 We have no obligation to screen or to post any information or Content from you or anyone else. In addition, we may, at our discretion, edit, remove, or delete any Content that you post or submit.</p>
<p>2.7 After you delete Content or terminate your account, we will not make the Content available to third parties unless we retained control to access to the Content and believe we are required by law to make it available. You acknowledge that archive and other backup copies may persist and that persons who visited the Content may have copies. The archive and backup copies are authorized and in compliance with the License. We do not control the copies that may be held by or through other persons who visited the Content.</p>
<p>2.8 While we encourage your comments, suggestion, and other feedback, we may freely use such. If you choose to submit a creative idea or suggestion: we will not be subject to any obligation of attribution, confidentiality, liability, or compensation; the idea or suggestion becomes the property of CardinalHire to use or not use at its discretion; and CardinalHire will have unrestricted use of the submission for any purpose.</p>
<h3>3 Account Controls</h3>
<p>3.1 You may not use the Site if you are under 18 years of age.</p>
<p>3.2 You must accurately and completely provide your legal name, valid email address, and other requested information when registering your account. You will not provide any false personal information on CardinalHire. You will not impersonate, misrepresent, or falsely suggest your affiliation with any natural person or legal entity.</p>
<p>3.3 You will keep your contact information accurate and up-to-date, including changes to your email address(es) and telephone number(s). This facilitates our being able to contact you and helps ensure messages intended for you do not instead go to persons who may have acquired your former email address or telephone number.</p>
<p>3.4 You will not create more than one account for yourself.</p>
<p>3.5 Each log-in may only be used by one individual. You will not share your password, let anyone else access your account, or do anything else that might jeopardize the security of your account.</p>
<p>3.6 You will not transfer your account to anyone without getting our prior, express, written permission.</p>
<p>3.7 If we disable your account, you will not create another one without our prior, express, written permission.</p>
<h3>4 Prohibitions</h3>
<p>4.1 You will not use the Site for other than the purposes expressly promoted on the Site or the Site's intended and acceptable use.  CardinalHire is the sole interpreter of the Site's intended and acceptable use.</p>
<p>4.2 You may not include in your Content any direct solicitation, advertisement, or recruitment for services outside of those permitted within the TOS or otherwise without CardinalHire's prior, express, written permission.</p>
<p>4.3 You will not falsely imply another Internet website is associated with CardinalHire.</p>
<p>4.4 You will not send or otherwise post unsolicited or unauthorized commercial communications (such as spam) on or through the Site by emails, text messages, or otherwise.</p>
<p>4.5 You will not access the Site or collect any data from the Site using automated means (such as harvesting bots, robots, spiders, or scrapers), nor will you collect, aggregate, copy, duplicate, display, or make derivative use of the Site's services, except as may be expressly authorized in the TOS or by our prior, express, written permission.</p>
<p>4.6 You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on the Site.</p>
<p>4.7 You will not offer any contest, giveaway, or sweepstakes on the Site.</p>
<p>4.8 You will not violate any law on or through the Site.</p>
<p>4.9 You will not upload worms, viruses, or other destructive or malicious code to the Site or its users.</p>
<p>4.10 You will not do anything that could disable, overburden, alter, or impair the proper working of the Site, such as a denial-of-service attack.</p>
<p>4.11 You will not use another person's account with CardinalHire.</p>
<p>4.12 You will not bully, intimidate, harass, or otherwise abuse any user of the Site. Nor will you attempt to do so.</p>
<p>4.13 You will not post Content on the Site that:</p>
<p>4.13.1 infringes the trade secret, copyright, trademark, service mark, or other IP rights of any individual, company, institution, organization, or other entity;</p>
<p>4.13.2 violates a third party's right of publicity or privacy;</p>
<p>4.13.3 is defamatory;</p>
<p>4.13.4 contains profanity or offensive language or images;</p>
<p>4.13.5 contains nudity, sexually explicit content, or is pornographic or obscene;</p>
<p>4.13.6 may disparage any ethnic, racial, national-origin, sexual, gender-identity, religious, or other group;</p>
<p>4.13.7 is hateful, threatening, or portrays violence as acceptable or incites violence;</p>
<p>4.13.8 depicts or promotes use of illicit drugs; or</p>
<p>4.13.9 is misleading or deceptive.</p>
<p>4.14 You will not facilitate or encourage any violations of the TOS.</p>
<h3>5 Our Control Over IP</h3>
<p>5.1 We can refuse to post or may remove any Content if we believe that the Content infringes another's IP rights, violates the letter or spirit of the TOS, or for any other reason at our discretion.</p>
<p>5.2 If you believe information posted on the Site infringes your IP rights, visit our NOTIFICATION OF CLAIMS OF INFRINGEMENT page for information on how to protect your rights.</p>
<p>5.3 If you believe we removed your Content in the mistaken belief that the Content infringed another's IP, you can explain your position to us and appeal for our reconsideration.</p>
<p>5.4 If we conclude that you infringe other's IP, we may disable your account at our discretion.</p>
<p>5.5 You will not use our copyrights, trademarks, service marks or any confusingly similar marks), any design elements of our Site, or any of our other IP without our prior, express, written permission.</p>
<p>5.6 CardinalHire grants users who are in compliance with the TOS a limited, nonexclusive, terminable, nontransferable license, without the right to sublicense, to view and use the information solely for personal purposes, as expressly contemplated by the Site. You may not reproduce, modify, display, sell, or distribute the Site's materials or use them in any way for public or commercial purpose. Any exceptions require our prior, express, written permission.</p>
<p>5.7 CardinalHire grants users who are in compliance with the TOS a limited, nonexclusive, terminable, nontransferable license, without the right to sublicense, to view and use the information solely for personal purposes, as expressly contemplated by the Site. You may not reproduce, modify, display, sell, or distribute the Site's materials or use them in any way for public or commercial purpose. Any exceptions require our prior, express, written permission.</p>
<h3>6 Additional Terms of Service</h3>
<p>6.1 CardinalHire may offer services directed to different purposes, each of which may have its own supplemental rules (the respective "Additional Terms of Service").</p>
<p>6.2 You agree to be bound by any Additional Terms of Service applicable for each service segment in which you participate.</p>
<h3>7 Site Advertisers</h3>
<p>7.1 If you desire to advertise on our Site, contact us for more information and the terms on which we will accept your advertising.</p>
<p>7.2 As a user of the Site, you understand that we may not always identify paid services and communications as such.</p>
<h3>8 Limitations of Service</h3>
<p>CardinalHire may establish limits of any kind concerning use of the Site's services. For example, we may limit the duration that Content will be retained by us, the permitted number and size of postings, etc. We may discontinue any and all services. CardinalHire has no responsibility or liability for the deletion or failure to store any Content or discontinuing any service, including the Site, except to return the prorated portion of any prepaid services in such event.</p>
<h3>9 Amendments</h3>
<p>We reserve the right, at our discretion, to amend, change, modify, or otherwise alter the TOS at any time. Such modifications will become effective immediately upon posting on the Site. You must regularly review the TOS and the various policies, rules, procedures, notices, and other terms stated elsewhere on the Site to keep yourself apprised of any changes.</p>
<h3>10 Termination</h3>
<p>10.1 You may delete your Content or deactivate your account at any time.</p>
<p>10.2 If you violate the letter or spirit of the TOS, or otherwise create risk or possible legal exposure for us, we may suspend or permanently stop providing all or part of CardinalHire's offerings, including our Site, services, or other account features, to you.</p>
<h3>11 Disputes</h3>
<p>11.1 You will resolve any claim, cause of action, or dispute (collectively, "claim") you have with us arising out of or relating to the TOS or CardinalHire exclusively by binding arbitration, unless and only to the extent the law may clearly require otherwise.  The arbitrator will exclusively determine the arbitrability of the claim and the scope, enforceability, revocability, or validity of the provisions of this Section 11.1.</p>
<p>11.1.1  The arbitration will be conducted in California in either San Mateo County or San Francisco County, unless the parties agree to another location.  The federal law, including the Federal Arbitration Act, and the law of the State of California will govern the TOS, as well as any claim that might arise between you and us, without regard to choice-of-law or conflict-of-laws provisions.  The foregoing provisions of this Section 11.1.1, which are to guide interpretation of the TOS, do not create any substantive right for non-Californians to assert claims under California law.  The dispute will be submitted before the American Arbitration Association (“AAA”) within 30 days after the requesting notice in accordance with the expedited Commercial Rules of the AAA as modified by this Section 11.1; a decision will be issued within 30 days after the close of the record; and judgment upon the award may be entered in any court having jurisdiction over the judgment. Except as may be permitted or required by law, as determined by the arbitrator, neither a party nor the arbitrator may disclose the existence, content, or results of the arbitration without the prior, written consent of all parties.  This arbitration provision will be deemed self-executing.  If either party fails to appear at any properly noticed arbitration proceeding, an award may be entered against such party notwithstanding such failure to appear.  The parties may agree use another arbitral forum and rules or may agree to ad hoc arbitration using the AAA rules or other rules to avoid forum fees.</p>
<p>11.1.2   If the parties disagree on the choice for an arbitrator, the parties will jointly request the AAA (or other mutually agreed forum) to furnish a list of five available attorneys (or, upon the parties’ agreement, businesspersons, or both) experienced generally in commercial matters.  After receipt of such list and an opportunity to consider the names, each party may designate in writing to the AAA not more than two names to be eliminated from the selection process.  If more than one name remains after such eliminations are made, the selection of the arbitrator will be made by lot from the remaining names.</p>
<p>11.1.3  The expenses, wages, and other compensation of any witnesses called before the arbitrator will be borne by the party calling the witnesses.  Other expenses incurred, including wages of participants, and preparation of briefs and data to be presented to the arbitrator, will be borne separately by the respective parties.  The fee for the arbitration, the arbitrator's fees and expenses, the cost of any hearing room, and the cost of a shorthand or similar reporter and the original transcript will be borne by the parties equally.</p>
<p>11.1.4  Any claim, action, or proceeding arising out of or related to the Agreement must be brought in your individual capacity, and not as a plaintiff or class member in any purported class, collective, or representative proceeding. The arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of a representative, collective, or class proceeding.  </p>
<p>11.1.5  WE AND YOU ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS ACTION OR REPRESENTATIVE PROCEEDING.  ARBITRATION COMPLETELY REPLACES ANY AND ALL RIGHTS TO RESOLVE A COVERED CLAIM IN COURT, INCLUDING A JURY TRIAL, ALL OF WHICH IS WAIVED.</p>
<p>11.2 If anyone brings a claim against us related to your actions or Content, on or related to the Site, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including costs and attorney fees) related to such claim.</p>
<p>11.3 YOU USE THE SITE, OUR SERVICES, AND THE INTERNET AT YOUR OWN RISK. YOU ACCEPT WHAT IS PROVIDED "AS IS," AND WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. TO THE GREATEST EXTENT PERMITTED BY LAW, CARDINALHIRE DISCLAIMS ANY WARRANTIES FOR SECURITY, RELIABILITY, TIMELINESS, ACCURACY, AND PERFORMANCE OF THE SITE AND SERVICES. WE DO NOT GUARANTEE THAT CARDINALHIRE WILL BE SAFE OR SECURE.</p> CARDINALHIRE IS NOT RESPONSIBLE FOR THE ACTIONS, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, AND OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. WE MAKE NO WARRANTY THAT THE SITE OR SERVICES WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, ERROR-FREE BASIS. YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SITE AND SERVICES.
<p>11.4 YOU WAIVE CALIFORNIA CIVIL CODE 1542, WHICH SAYS: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR."</p>
<p>11.5 WE WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE TOS OR CARDINALHIRE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </p>
<p>11.6 APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSION OR LIMITATION MAY NOT APPLY TO YOU. IN SUCH CASES, CARDINALHIRE'S LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.</p>
<h3>12 Users Outside the United States</h3>
<p>12.1 If you are a user outside of the United States of America, you consent to having your personal data transferred to and processed in the United States of America.</p>
<p>12.2 If you are located in a country embargoed by the United States, or are on the U.S. Treasury Department's list of Specially Designated Nationals, you will not engage in commercial activities on the Site.</p>
<h3>13 Definitions and Usage</h3>
<p>13.1 Unless defined otherwise or the context requires, the words used in the TOS will be construed according to their plain meaning in the English language.</p>
<p>13.2 The word "Content" means as defined in Section 2.2 above</p>
<p>13.3  The word "discretion" means the sole and absolute ability to act or decide unfettered by any constraining standards.</p>
<p>13.4 The word "include" or "including" is used in the nonexclusive sense of plain English, which means it encompasses "including, but not limited to," "including without limitation," "by way of illustration, and without limitation," and the like.</p>
<p>13.5 The word "information" broadly includes facts, data, statements, representations, assertions, claims, and other communications.</p>
<p>13.6 The term "IP" means intellectual property.</p>
<p>13.7 The word "law" broadly includes local, state, federal, and other jurisdiction constitutions, statutes, orders, writs, injunctions, decrees, ordinances, requirements, laws, rules, regulations, and the like.</p>
<p>13.8 The word "License" means as defined in Section 2.2 above.</p>
<p>13.9 The word "may" is used in the permissive sense unless a prohibition is clearly intended. </p>
<p>13.10 The word "services" means all features, functions, and services we make available to you, including through our Site or through related agreements.</p>
<p>13.11 By "TOS," we mean these General Terms of Service, all Additional Terms of Service applicable to participation in the respective offerings and service segments, all related agreements you may enter into with us, and the various policies, rules, procedures, notices, and other terms stated elsewhere on the Site. </p>
<p>13.12 The word "use" broadly encompasses any use, including to copy, publicly perform or display, distribute, modify, translate, and create derivative works.</p>
<p>13.13 The word "will" is used as a command. </p>
<h3>14 Miscellany</h3>
<p>14.1 The TOS makes up the entire agreement between the parties regarding use of the Site and supersede any prior agreements.</p>
<p>14.2 If any portion of the TOS is found to be unenforceable, the remaining portion will remain in full force and effect.</p>
<p>14.3 No waiver will be construed by CardinalHire's failure to enforce any of the TOS. Any waiver by CardinalHire requires our express, written agreement.</p>
<p>14.4 Amendment to the TOS will be made in writing and posted to the Site. Amendment to an Additional Terms of Service may not necessarily be posted to the Site, e.g., because of its application to the specific engagement terms between CardinalHire and the particular user.</p>
<p>14.5 You may not transfer any of your rights or obligations under the TOS to anyone else without our prior, express, written consent. Any attempt to do so without such consent will be null and void.</p>
<p>14.6 All of our rights and obligations under the TOS are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.</p>
<p>14.7 The TOS does not confer any third-party beneficiary rights.</p>
<p>14.8 Under California Civil Code Section 1789.3, California Site users are entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 400 R Street, Suite 1080, Sacramento, California 95814, or by telephone at (916) 445-1254 or (800) 952-5210.</p>
<p>14.9  We apologize for the all-capitalized type that appears in the ToS and elsewhere.  We understand that such presentation may be harder to read and understand.  If it were bolded in addition, that would make it that much worse as to readability and understanding.  Unfortunately, many regulators, legislators, and judges, based on unsupported intuition and the lack of common knowledge and any testing or compelling reason, desire such presentation in the mistaken belief that such emphasis is to the reader’s benefit.  That scientific testing compelling shows otherwise does not thwart the stubbornness of the law to proceed faith-based (an ingrained theme), so we reluctantly abide.  Again, our apologies.  Nonetheless, if you proceed to use our Site, you must do so by your complete agreement to the terms.</p>
<div class="space-90"></div>
    </div>
</div>
