/*
Cta and quotes css
*/
@import "_variables";
@import "_mixins";

.cta-skin-blue{
    padding: 60px 0;
<<<<<<< HEAD
    background: $skin-color-blue;
=======
    background: #c41e3a;
>>>>>>> d043a64b3d6fd9342e2ce864dfdbfd5bcec4e82b
    h2{
        color: #fff;
        letter-spacing: 0px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    p{
        color: #fff;
        margin-bottom: 20px;
    }
}
.cta-skin-red{
  padding: 60px 0;
  background: $skin-color;
  h2{
      color: #fff;
      letter-spacing: 0px;
      font-weight: 500;
      margin-bottom: 15px;
  }
  p{
      color: #fff;
      margin-bottom: 20px;
  }
}
.cta-bg{
    background-attachment: fixed;
    background-size: cover;
    padding:40px 15px ;
    h3{
        color: #fff;
    }
}
