/**footer style **/
@import "_variables";
@import "_mixins";

.footer{
    background: #E8ECF0;
    color: #003366;
    ul{
        li{
            a{
                color: #003366;
                font-weight: 300;
            }
        }
    }
    span{
        font-size: 12px;
    }
    h4{
        color: #003366;
    }
    .navbar-form{
    padding-left:0px;
    padding-right:0px;
    @include box-shadow(none);
    border:0px;
    .form-control{
        width: 270px;
    }
}
}
.social{
    margin-bottom:20px;
    >li>a{
        font-size: 20px;
        &:hover{
            color: $skin-color;
        }
    }
}
.list-unstyled{
  list-style: none;
}
