<<<<<<< HEAD
$skin-color: #CC0000;
$skin-dark: #CC0000;
$link-color: #003366;
$skin-color-blue: #003366;
$button-primary-color: #CC0000;
$button-secondary-color: #003366;
$button-primary-hover-color: #B70000;
$button-secondary-hover-color: #003366;
=======
$skin-color: #C41E3A;
$skin-dark: #ab3c4f;
$link-color: #0000FF;
$button-primary-color: #CC0000;
$button-primary-hover-color: #B70000;
>>>>>>> d043a64b3d6fd9342e2ce864dfdbfd5bcec4e82b
$background-color: #003366;
$default-font: 'Montserrat', sans-serif;
$title-font: 'Montserrat', s#ans-serif;
