$skin-color: #C41E3A;
$skin-dark: #ab3c4f;
$link-color: #0000FF;
$button-primary-color: #CC0000;
$button-primary-hover-color: #B70000;
$background-color: #003366;
$default-font: 'Montserrat', sans-serif;
$title-font: 'Montserrat', sans-serif;
