// Place all the styles related to the Follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#side-bar {
  float: left;
  width: 150px;
}

#main-content {
  margin-left: 160px;
  height: 100%;
}
