/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.avatar-circle {
  width: 100px;
  height: 100px;
<<<<<<< HEAD
  background-color: #003366;
=======
  background-color: #ab3c4f;
>>>>>>> d043a64b3d6fd9342e2ce864dfdbfd5bcec4e82b
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  position: relative;
  top: 25px;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}
