
<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    <%= render "side_bar" %>
  </div>
</nav>

<article>
  <div id="main-content">
    <div class="space-40"></div>
    <h1>Editing Job</h1>

    <%= render 'form', job: @job %>

    <%= link_to 'Show', @job %> |
    <%= link_to 'Back', jobs_path %>

  </div>
</article>
