<section id="home" class="auto-init use-loading">
    <div class="divimage" style="width: 100%; height: 100%; background: white; background-size: cover;">
        <div class="hero-parallax">
            <div class="hero-inner">
                <div class="hero-content">
                    <div class="container">

                      <%= render 'step_three_modal' %>

                    </div><!--container-->
                </div><!--hero content-->
            </div><!--hero inner-->
        </div><!--parallax hero-->
    </div><!--parallax image div-->
</section><!--intro section end-->
