<p>Welcome <%= @email %>! You've created an account with CardinalHire.</p>

<p>We're so glad you've joined our existing community of active job seekers, employers, and professionals from across the tech industry.</p>

<p>Please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>After you confirm your account, you may log in, update, or delete your profile at any time. A CardinalHire team member will be reaching out to you shortly to discuss the next steps!</p>
