<div class="row">
  <div class="col-4 col-sm-4 col-md-4">
    <article>
      <div class="clearfix">
        <div class="container-fluid">
          <%= render 'advanced-search' %>
        </div>
      </div>
    </article>
  </div>
  <div class="col-8 col-sm-8 col-md-8">
    <article>
        <div class="papel-right clearfix">
          <div class="">

          </div>
        </div>
      </div>
    </article>
  </div>
